<!doctype html>
<html>
   <body>

      <table border = 1>
          <td>
          Caption
            </td>
            <td>
            CreationClassName
            </td>
            <td>
            CreationDate
            </td>
            <td>
            CSCreationClassName
            </td>
            <td>
            Description
            </td>
            <td>
            Handle
            </td>
            <td>
            HandleCount
            </td>
            <td>
            KernelModeTime
            </td>
            <td>
            Name
            </td>
            <td>
            OSCreationClassName
            </td>
            <td>
            OSName
            </td>
            <td>
            OtherOperationCount
            </td>
            <td>
            OtherTransferCount
            </td>
            <td>
            PageFaults
            </td>
            <td>
            PageFileUsage
            </td>
            <td>
            ParentProcessId
            </td>
            <td>
            PeakPageFileUsage
            </td>
            <td>
            PeakVirtualSize
            </td>
            <td>
            PeakWorkingSetSize
            </td>
            <td>
            Priority
            </td>
            <td>
            PrivatePageCount
            </td>
            <td>
            ProcessId
            </td>
            <td>
            QuotaNonPagedPoolUsage
            </td>
            <td>
            QuotaPagedPoolUsage
            </td>
            <td>
            QuotaPeakNonPagedPoolUsage
            </td>
            <td>
            QuotaPeakPagedPoolUsage
            </td>
            <td>
            ReadOperationCount
            </td>
            <td>
            ReadTransferCount
            </td>
            <td>
            SessionId
            </td>
            <td>
            ThreadCount
            </td>
            <td>
            UserModeTime
            </td>
            <td>
            VirtualSize
            </td>
            <td>
            WindowsVersion
            </td>
            <td>
            WorkingSetSize
            </td>
            <td>
            WriteOperationCount
            </td>
            <td>
            WriteTransferCount
            </td>
          <td>timeStamp</td>

         {% for row in rows %}
            <tr>
                <td>{{row["Caption"]}}</td>
                <td>{{row["CreationClassName"]}}</td>
                <td>{{row["CreationDate"]}}</td>
                <td>{{row["CSCreationClassName"]}}</td>
                <td>{{row["Description"]}}</td>
                <td>{{row["Handle"]}}</td>
                <td>{{row["HandleCount"]}}</td>
                <td>{{row["KernelModeTime"]}}</td>
                <td>{{row["Name"]}}</td>
                <td>{{row["OSCreationClassName"]}}</td>
                <td>{{row["OSName"]}}</td>
                <td>{{row["OtherOperationCount"]}}</td>
                <td>{{row["OtherTransferCount"]}}</td>
                <td>{{row["PageFaults"]}}</td>
                <td>{{row["PageFileUsage"]}}</td>
                <td>{{row["ParentProcessId"]}}</td>
                <td>{{row["PeakPageFileUsage"]}}</td>
                <td>{{row["PeakVirtualSize"]}}</td>
                <td>{{row["PeakWorkingSetSize"]}}</td>
                <td>{{row["Priority"]}}</td>
                <td>{{row["PrivatePageCount"]}}</td>
                <td>{{row["ProcessId"]}}</td>
                <td>{{row["QuotaNonPagedPoolUsage"]}}</td>
                <td>{{row["QuotaPagedPoolUsage"]}}</td>
                <td>{{row["QuotaPeakNonPagedPoolUsage"]}}</td>
                <td>{{row["QuotaPeakPagedPoolUsage"]}}</td>
                <td>{{row["ReadOperationCount"]}}</td>
                <td>{{row["ReadTransferCount"]}}</td>
                <td>{{row["SessionId"]}}</td>
                <td>{{row["ThreadCount"]}}</td>
                <td>{{row["UserModeTime"]}}</td>
                <td>{{row["VirtualSize"]}}</td>
                <td>{{row["WindowsVersion"]}}</td>
                <td>{{row["WorkingSetSize"]}}</td>
                <td>{{row["WriteOperationCount"]}}</td>
                <td>{{row["WriteTransferCount"]}}</td>
                <td>{{row["timeStamp"]}}</td>

            </tr>
         {% endfor %}
      </table>
      <a href = "/">Go back to home page</a>
   </body>
</html>